<!DOCTYPE html>
<html lang="en" ng-app="FitMaxApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FitMax Gym</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body
    style="
      background-color: #000000;
      background-image: linear-gradient(to top, #3c3737dc, #000000);
      color: white;
      height: 150vh;
    "
    ng-controller="PricingController"
  >
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
          >
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">FitMax</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="Services.html">Services</a></li>
            <li><a href="Pricing.html">Pricing</a></li>
            <li><a href="Contactus.html">Contact Us</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="logout-btn">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="pricing">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Pricing</h1>
            <p>We offer flexible pricing options to suit your needs</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" ng-repeat="plan in plans">
            <div class="plan center">
              <h3>{{ plan.name }}</h3>
              <p class="price">{{ plan.price }}</p>
              <ul>
                <li ng-repeat="feature in plan.features">{{ feature }}</li>
              </ul>
              <button ng-click="selectPlan(plan.name)">Select</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      var app = angular.module("FitMaxApp", []);
      app.controller("PricingController", function ($scope, $http) {
        $scope.plans = [
          {
            name: "Basic Plan",
            price: "$20/month",
            features: [
              "Access to weight training equipment",
              "Access to cardio equipment",
            ],
          },
          {
            name: "Standard Plan",
            price: "$40/month",
            features: [
              "Access to weight training equipment",
              "Access to cardio equipment",
              "Access to group fitness classes",
            ],
          },
          {
            name: "Premium Plan",
            price: "$60/month",
            features: [
              "Access to weight training equipment",
              "Access to cardio equipment",
              "Access to group fitness classes",
              "Personalized training plan",
            ],
          },
        ];

        $scope.selectPlan = function (planName) {
          var userData = JSON.parse(localStorage.getItem("userData"));
          if (!userData || !userData.email) {
            alert("Please log in to select a plan.");
            return;
          }
          var email = userData.email;
          $http
            .post("https://fitmax-backend-bs1b.onrender.com/addPlan", {
              email: email,
              plan: planName,
            })
            .then(function (response) {
              alert(response.data.message);
            })
            .catch(function (error) {
              console.error("Error:", error);
            });
        };

        $scope.logout = function () {
          localStorage.removeItem("userData");
          window.location.href = "login.html";
        };

        // Check if user is logged in on page load
        var userData = JSON.parse(localStorage.getItem("userData"));
        if (!userData) {
          window.location.href = "./login.html";
        }
      });
    </script>
  </body>
</html>
